
      .c-first-letter {
        display: block;
        font-size: 200px;
        font-weight: 700;
        line-height: 1;
        color: red;
        text-align: center;
      }

      /*.c-first-letter:before,
      .c-first-letter:after {
        content: "";
        display: block;
      }

      .c-first-letter:before {
        margin-bottom: -0.175em;
      }

      .c-first-letter:after {
        margin-top: -0.05em;
      }*/